<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="endpoint" value="BasicHttpBinding_ICalculator"/>
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_ICalculator" />
			</basicHttpBinding>
			<netTcpBinding>
				<binding name="NetTcpBinding_ICalculator" />
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost/Services/Calculator"
					  binding="basicHttpBinding"
					  bindingConfiguration="BasicHttpBinding_ICalculator"
					  contract="Calculator.Contracts.ICalculator"
					  name="BasicHttpBinding_ICalculator" />
			<endpoint address="net.tcp://localhost/Services/Calculator"
					  binding="netTcpBinding"
					  bindingConfiguration="NetTcpBinding_ICalculator"
					  contract="Calculator.Contracts.ICalculator"
					  name="NetTcpBinding_ICalculator" />
		</client>
	</system.serviceModel>
</configuration>